body {
    display: flex;
    justify-content: normal;
    align-items: normal;
    height: 100vh;
    margin: 0;
    background-color: #ffff;
    background-size: 10px;
    background-repeat: repeat;
    overflow-y: scroll;
    font-family: 'Comic Sans MS', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.principal {
    background-color: #ffff;
    align-items: center;
    font-size: small;
    width: 40%;
    overflow-y: auto;
    height: 70%;
}

.lado_direito {
    position: relative;
    background-color: #ffff;
    overflow-y: auto;
    height: 70%;
}

.banco_de_imagens {
    background-color: #ffff;
    position: fixed;

    overflow-y: hidden;
    overflow-x: scroll;

    width: 100%;
    height: 30%;

    bottom: 0;
}

.img1{
    position: relative;
    width: 110px;
    height: 110px;
    cursor: alias;
}

.foto {
    width: 124px;
    height: 124px;
}



.subtitle_image {
    font-size: 10%;
    position:relative;
    left: -7%;
    bottom: 124px;
}